/* VARIABLES */
:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #909090;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --small: 1.4rem;
  --medium: 1.6rem;
  --large: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%;
}

.title {
  margin-bottom: 12px;
  text-align: center;
  font-size: var(--large);
}

.subtitle {
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
  font-weight: normal;
  font-size: var(--medium);
  color: var(--very-light-pink);
}

.label {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: var(--small);
}

.input {
  height: 40px;
  margin-bottom: 12px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-size: var(--medium);
  background-color: var(--text-input-field);
}

.primary-button {
  width: 100%;
  height: 52px;
  margin-top: 14px;
  margin-bottom: 32px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: var(--medium);
  color: var(--white);
  background-color: var(--hospital-green);
  cursor: pointer;
}

.secondary-button {
  width: 100%;
  /* min-width: 300px; */
  height: 52px;
  margin-top: 32px;
  border: 2px solid var(--hospital-green);
  border-radius: 8px;
  font-weight: bold;
  font-size: var(--medium);
  color: var(--hospital-green);
  background-color: var(--white);
  cursor: pointer;
}

.text-button {
  font-size: var(--small);
}

.text-button span {
  color: var(--very-light-pink);
}

.text-button a {
  text-decoration: none;
  color: var(--hospital-green);
}

.main-section {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form a {
  text-align: center;
  text-decoration: none;
  font-size: var(--small);
  text-decoration: none;
  color: var(--hospital-green);
}

.form-logo {
  display: none;
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
}

@media (max-width: 640px) {
  .secondary-button {
    width: inherit;
    position: relative;
    top: 60px;
    margin-bottom: 24px;
  }

  .form-container {
    width: 300px;
  }
  
  .form-logo {
    display: block;
  }
}
