.menu-desktop {
  width: 128px;
  height: auto;
  padding: 12px;
  border: 1px solid var(--very-light-pink);
  border-radius: 4px;
}

.menu-desktop ul {
  list-style: none;
}

.menu-desktop ul li {
  padding-bottom: 20px;
  text-align: end;
  font-weight: bold;
  font-size: var(--small);
}

.menu-desktop ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}

.menu-desktop ul li a {
  color: var(--black);
}

.menu-desktop ul li:last-child a {
  color: var(--hospital-green);
}
