.login {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}

.login__form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.login__form--logo {
  display: none;
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
}

.login__form--title {
  margin-bottom: 12px;
  text-align: center;
  font-size: var(--large);
}

.login__form--subtitle {
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
  font-weight: normal;
  font-size: var(--medium);
  color: var(--very-light-pink);
}

.login__form {
  display: flex;
  flex-direction: column;
}

@media (max-width: 640px) {
  .login__form--logo {
    display: block;
  }
}
